.alarm {
    height: 100%;
    .fl {
        float: left;
    }
    .fr {
        float: right;
    }
    p {
        margin: 0;
    }
    .alarmTop {
        padding-top: 31px;
        height: 14.28%;
        font-size: 20px;
        line-height: 24px;
        color: #fff;
        font-weight: bold;
        opacity: .7;
    }
    .alarmMid {
        height: 85.72%;
        padding: 20px 20px 16px 20px;
        background-color: rgba(239, 239, 239, 0.09);
        box-shadow: 0 5px 6px 0 #000000;
        .alarmMidTop {
            height: 55.9%;
            #echarts {
                width: 60.3%;
                height: 100%;
            }
            .warnnums {
                height: 100%;
                width: 24.52%;
                &>div {
                    width: 100%;
                    height: 28.1%;
                    border-radius: 4px;
                    background-color: rgba(168, 177, 188, 0.2);
                    text-align: center;
                    &>p:first-child {
                        margin-top: 6px;
                        color: #fff;
                        opacity: 0.5;
                        font-size: 10px;
                    }
                    &>p:last-child {
                        color: #fff;
                        font-size: 20px;
                    }
                }
                .chargeWarn {
                    margin-top: 45%;
                    border-top: 3px solid #FF4029;
                }
                .carWarn {
                    margin-top: 6px;
                    border-top: 3px solid #FF7A29;
                }
            }
        }
        .alarmMidBot {
            height: 44%;
            .info {
                width: 47.95%;
                height: 100%;
                border-radius: 4px;
                .top {
                    border-radius: 4px 4px 0 0;
                    background-color: rgba(255, 255, 255, 0.2);
                    height: 29.76%;
                    &>div {
                        width: 49%;
                        text-align: center;
                        color: #fff;
                        &>p:first-child {
                            margin-top: 4px;
                            font-size: 12px;
                            white-space: nowrap;
                            opacity: .5;
                            -webkit-transform: scale(0.7);
                            text-indent: -10px;
                        }
                        &>p:last-child {
                            font-size: 20px;
                        }
                    }
                    .fr {
                        &>p:first-child {
                            text-indent: -16px;
                        }
                    }
                    &>div:last-child {
                        position: relative;
                        &:before {
                            content: "";
                            position: absolute;
                            left: -3px;
                            top: 7px;
                            bottom: 5px;
                            width: 1px;
                            background-color: #fff;
                            opacity: .3;
                        }
                    }
                }
                .bot {
                    background-color: rgba(168, 177, 188, 0.2);
                    height: 117px;
                    color: #fff;
                    padding: 10px 14px;
                    overflow: hidden;
                    .scroll-box {
                        &> li {
                            margin-bottom: 10px;
                            font-size: 12px;
                            position: relative;
                            list-style: none;
                            span {
															padding-left: 10px;
															position: relative;
                              &:before {
																content: "";
																width: 4px;
																height: 4px;
																background: #00B0FF;
																border-radius: 50%;
																display: inline-block;
																position: absolute;
																left: 1px;
																top: 6px;
															}
                            }
                          
                        }
                    }
                }
            }
        }
    }
}