.car-brand-list{
  padding: 20px;
  .tool-stage{
    margin-bottom: 15px;
  }
  .input-box-stage{
    width: 230px;
  }
  .button-add-wrap{
    float: right;
  }
  .add {
    float: right;
  }
  .img-logo{
    width: 50px;
  }
}