.organizeSetDetail-wrap {
  .form-group {
    label {
      height: 35px;
      line-height: 35px;
      vertical-align: middle;
      margin-right: 30px;
    }
    p {
      vertical-align: middle;
    }
  }
  .detail-content {
    padding: 20px;
    .add-dep {
      width: 150px;
    }
    .modify {
      width: 150px;
      margin-right: 10px;
    }
    .inner {
      width: 500px;
      margin: 0 auto;
      .options-btns {
        width: 100%;
        display: inline-block;
        text-align: center;
        padding-top: 40px;
        margin-top: 40px;
        border-top: 1px solid #d6d6d6;
      }
    }
    label {
      width: 100px;
      text-align: right;
    }
  }
}