.chargingPile {
    height: 100%;
    .pileTop {
        padding-top: 31px;
        height: 14.28%;
        font-size: 20px;
        line-height: 24px;
        color: #fff;
        opacity: .7;
    }
    .pileMid {
        height: 85.72%;
        padding: 20px;
        background-color: rgba(239, 239, 239, 0.09);
        box-shadow: 0 5px 6px 0 #000000;
        .Mleft {
            height: 100%;
            width: 18.01%;
            div {
                height: 31.83%;
                border-radius: 4px;
                background-color: #0092E0;
                &>div:first-child {
                    width: 19.9%;
                    padding: 10px;
                }
                &>div:last-child {
                    width: 70.1%;
                    height: 100%;
                    background: url(bg_charge.svg)
                }
            }
            &>div:nth-child(2) {
                margin: 2.65% 0;
            }
        }
        .Mright {
            height: 100%;
            width: 81.9%;
        }
    }
}