	.work-platform-wrap{
		margin: -10px -5px -10px -5px;
	.commercial-num, 
	.station-detail, 
	.electricity-info,
	.charger-rank{
		overflow: hidden;
	}
	.charger-rank{
		.normal-panel{
			height: inherit;
			padding: 0 5px;
		}
		#rank-echarts{
			width: 100%;
			height: 500px;
		}
	}
	.normal-panel{
		height: 195px;
		padding: 0 5px;
		margin-top: 10px;
		.comm-panel,
		.client-panel, 
		.card-panel,
		.charger-info,
		.electricity-panel,
		.rank-info,
		.order-panel{
			width: 100%;
			height: 100%;
			padding: 25px 20px;
			background: #fff;
			border: 1px solid #e7e7e7;
			position: relative;
			.no-echart{
				font-size: 16px;
				text-align: center;
				color: #333;
				padding: 50px 0;
			}
			.comm-list, 
			.client-list, 
			.card-list, 
			.charger-list, 
			.order-list, 
			.electricity-list{
				overflow: hidden;
				margin-top: 35px;
				ul{
					margin: 0;
					padding: 0;
					li{
						text-align: center;
						width: 33.33%;
						margin: 0;
						padding: 0;
						list-style: none;
						float: left;
						position: relative;
						& + li:after{
							content: "";
							width: 1px;
							height: 50px;
							background: #e7e7e7;
							position: absolute;
							left: 0px;
							top: 5px;
						}
						.name{
							font-size: 14px;
							color: #999;
						}
						.num{
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							font-size:  32px;
							color: #333;
							font-weight: bolder;
							margin-top: 5px;
							.tip{
								font-size: 12px;
							}
						}
					}
				}
			}
			.client-list, 
			.card-list, 
			.order-list, 
			.electricity-list{
				>ul li{
					width: 50%;
				}
			}
			.charger-list{
				>ul li{
					width: 25%;
				}
			}
			.all-comm{
				font-size: 14px;
				position: absolute;
				right: 20px;
				top: 25px;
			}
			.title{
				display: inline-block;
				font-size: 14px;
				font-weight: bolder;
				color: #333;
				padding-left: 12px;
				position: relative;
				&::after{
					content: "";
					position: absolute;
					width: 4px;
					height: 14px;
					left: 0px;
					top: 0px;
					background: #d9534f;
				}
			}
		}
	}
}