.role-set-list {
  padding: 20px;
  clear: both;
  .input-box-stage{
    width: 250px;
  }
  .tool-stage{
    margin-bottom: 15px;
  }
  .button-add-wrap{
    float: right;
  }
  .add {
    float: right;
  }
}