.carBrand-form-wrap{
  padding: 20px;
  position: relative;
  .form-area{
    width: 520px;
    margin: 20px auto;
    position: relative;
  }
 	.control-label{
 		width: 115px;
    padding-top: 10px;
  }
}