$HEADERHEIGHT: 60px;

$MENUWIDTH: 250px;

$BUTTON_BG_COLOR: #ea5250;

$BUTTON_BG_COLOR_HOVER: #e8605f;

$BG_C1: #e65454;

$BG_C2: #44546a;

$BG_BG1: #f5f5f5;

$BG_BG2: #fafafa;

$LINE_L1: 1px solid #d6d6d6;

$LINE_L2: 1px solid #e5e5e5;

$LINE_L3: 1px solid #999999;

$LINE_L3: 1px solid #f0f0f0;  

$WARN_COLOR: #e65454; 

$COLOR_1: #333333;

$COLOR_2: #666666;

$COLOR_3: #999999;

$COLOR_4: #4183c4; 





